.main-container-blog{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.main-container-blog-title{
    width: 100%;
    position: relative;
    height: fit-content;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 28pt;
    font-weight: bold;
    background: #0870d6 ;
    box-shadow: 0 6px 14px 8px #b5b7ccbd;
    color: white;
    text-align: center;
    padding: 10px;
}

.main-container-blog-content{
    width: 100%;
    padding: 8px;
}

.main-container-blog-content-title{}

.main-container-blog-content-body{}