.shop {
    width: 80%;
    /*height: 800px;*/
    display: flex;
    flex-direction: column;
    /*! justify-content: center; */
    /*! align-items: center; */
    padding: 20px;

    background-color: white;
    margin: 18px auto;
    border-radius: 18px;
    box-shadow: 2px 6px 18px #d0d0d0;
    border: 2px solid #d6d6d6;
    color: black;
}

.shop a {
    color: black;
    font-style: italic;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600 ;
}

.shop-description {
    color: gray;
    font-style: italic;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding-top: 4px;
    padding-bottom: 4px;
    width:fit-content;
}

.shop a:hover {
    color: rgb(44, 44, 152);
}

.shop-title {
    font-size: var(--third-main-title-size);
    font-family: var(--third-main-title-family);
    padding: 16px 0 16px 0;


    /*border-bottom: 4px solid rgb(0, 0, 0);*/
    /*border-radius: 8px;*/
    /*! background-color: blueviolet; */
    width: fit-content;
}

.shop-body {
    padding: 16px 0 16px 0;
}


.shop-items-amazon .shop-items-shopee{
    padding: 12px;
    display: grid;
}

.shop-product {
    padding: 8px 0 8px 0
}

.shop-footer {
    padding: 16px 0 16px 0;

}

