/*
* stylev2.css
* CSS - Folha de Estilho do esqueleto base do layout do site.
*/

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    
    /*width: 100%;*/
    background-color: rgba(231, 234, 238, 0.844);
    color:#032a51;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: white;
}

a:hover{
    color:#032a51;
}

nav{
    position: relative;
    background-color: #0870d6;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial;
    z-index: 2;
    width: 100%;
}
#nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 12px;

}

.container-nav {
    
    position: relative;
    z-index: 2;
    
}

#slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 480px;
    margin: 0 auto;
    /*padding: 12px; */
}

.slide-item {
    width: 100%;
    margin: 0 auto;
    /*padding: 12px;*/
    display: flex;
    flex-direction: column;
    content-visibility: hidden;
    text-align: center;
    animation-name: fade;
    animation-duration: 2s;
}



.slide-item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    height: 40px;
    position: absolute;
    z-index: 3;
    color: white;
    background-size: cover;
    background-position: center;
    background: #0461be1f;
    align-items: center;
    margin: 0 auto;
    padding: 12px;
    text-align: center;
    font-weight: bold;
}

.slide-item-content-section {
    display: flex;
    flex-direction: column;
    width: 460px;
    position: absolute;
    z-index: 3;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin: 20% 36%;
    padding: 8px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.364);
    text-align: justify;
}

.slide-item-filter {
    background:#086fd65d;
    position: absolute;
    content: " ";
    z-index: 2;
    width: 100%;
}

.slide-item-image {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 480px;
    /*transition: cubic-bezier(0.075, 0.82, 0.165, 1);*/
    
    
}

.container-nav ul {
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: large;
}

.container-nav a {
    text-decoration: none;
    color: white;
}

.container-nav a:hover{
    color: #032a51;
}

.container-nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container-nav li {
    padding: 0 6px;
}

.main-container {
    width: 100%;
    height: 1600px;
    
}


.main-container-sections{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    align-content: space-around;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    height: 460px;
    text-align: justify;
}

.main-container-sections section{
    display: grid;
    padding: 0 18px 0 18px;
    width: 45%;
    margin: 40px auto;
    font-size: 14pt;
    text-align: justify;
}

.main-container-sections section h2 {
    padding: 0  0 48px 0; 
    text-align: center; 
    font-size: 24pt;
}

.main-container-section-blue-middle{
    background: #0870d6;
    height: 400px;
    color: white;
    margin: 0 auto;
    box-shadow: 0 6px 14px 8px #b5b7ccbd;
}

.container-img-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: center;
    align-content: center;
    height: 580px;
    background: url("../imgs/books-near-notebook-coffee.jpg")no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;

}

.container-img-top section {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container-img-top:before{
    position: absolute;
    background: rgba(8, 112, 214, 0.7);
    width: 100%;
    height: 580px;
    content: " ";
    z-index: 1;
}

.container-img-top h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-size: 58pt;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 20px auto;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 1;
    text-shadow: 1px 2px 1px rgba(212, 212, 212, 0.526);
    
}

/*
.container-img-top img {
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 60%);
    height: 580px;
    object-fit: cover;
    object-position: 0 -450px;
}*/

.container-img-top p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16pt;
    /*font-weight: bold;*/
    color: aliceblue;
    display: block;
    text-align: center;
    position: relative;
    z-index: 1;
    border-bottom: 4px solid rgb(255, 255, 255);
    margin-bottom: 4px;
    padding-bottom: 2px ;
}

#body-texts {
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    padding: 4px;
    border-style:none; 
}

.container-section-carrousel {
    width: 60%;
}

/* Rodapé base */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    width: 100%;
    height: 350px;
    background-color: #0870d6;
    padding: 18px;
    color:aliceblue;
    justify-content: space-between;
}

.foot-section {
    display: block;
    color: white;
    padding: 20px;
    

}

.foot-links{
    display:grid;
    font-size: 14pt;
    grid-template-columns: auto auto auto;
    padding: 10px;/* 20px 10px 120px;*/
    color: white;
    width: 100%;
    justify-content: space-between;
    align-content: flex-end;
    
}

.foot-links span {
    font-weight: bold;
    font-size: 18pt;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.foot-links-item-a{ 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
    color: white;
    text-decoration: none;
}

.foot-links-item-a:hover{
    color:#032a51;
}

.foot-links-span ul {
    padding-top: 18px;
    
}

.foot-links ul{
    
    text-align: left;
    list-style: none;
}

.foot-section  a{

    color: white;
    font-size: 18pt;
    /*padding: 0 12px 0 12px;*/
    text-align: center;
    margin: 0 auto;
    text-decoration: none;

}

.foot-section span {
    padding: 0 5px 0 0;
}

/* Slide animation */
@keyframes fade {
    from { opacity: 0.6; }
    to { opacity: 1 ;}
    
}