* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif*/
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-color: black; color: white;
}

#canvas {
    /*background: black;*/
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#da-show {
    width: 100%;
    max-height: 200px;
}

#nodes {
    width: 100%;
    height: 380px;
}
.container-main {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.da-container {
    
    position: absolute;
    top: 20%;
    /*left: 0;*/
    vertical-align: middle;
    width: 100%; 
    /*height: 600px;*/
    
    display: flex; 
    flex-direction: column; 
    
    justify-content: center; 
    align-items: center;
    justify-items: center;
    text-align: center;

    
    margin:  auto;
}

.links-menu {
    width:fit-content;
    font-size: 18px;;
    padding: 12px;
    text-align: center;
}

.links-menu > ul {
    text-decoration: none;
    list-style: none;
}

.da-container > .links-menu, ul, li, a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ul > li {
    list-style: none;
    float: left;
}

ul >  li  > a {
    background-position: 200% 100%; 
    background-image: linear-gradient(#afd0ba 0 0);
    padding: 10px;
    margin: 0 2px 0 2px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-size: 200% .3em;
    background-repeat: no-repeat;
}

ul > li > a:hover{
    background-position: 200% 100%;
    /*background-color: rgb(255, 249, 239);*/
    color:#afd0ba;
    background-size: 100% .3em;
    transition: background-size .3s .3s, background-position .3s;
}

#links-list {
    padding:6px; 
    /*margin: 4px;*/
    color: white;
    

  }

  #links-list > a {
    background-position: 200% 100%; 
    width: 0 auto;
    padding: 2px;;
    background-image: linear-gradient(#607795 0 0);
    text-decoration: none;
    color: whitesmoke;
    background-size: 200% .3em;
    background-repeat: no-repeat;
  

  }

  #links-list > a:hover{
    color:#93b5df;
    width:fit-content;
    background-position: 300% 100%;
    background-size: 100% .2em;
    transition: background-size .3s .3s, background-position .3s;


  }
  #feed {
    margin: 8px;
    display: flex; 
    flex-direction:column; 
    width: 50%; 
    border-radius: 8px; 
    border: 4px solid rgb(33, 43, 68);  
    color: rgb(255, 255, 255); 
    background: #3e5a7e;
  }