/*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 242, 242);;
}*/

/* Padronização para tamanhos de espaçamentos, tamanhos de fonte e familía da fonte.*/
:root{
    /* paddings */
    --padding-size-0: 2px;
    --padding-size-1: 8px;
    --padding-size-2: 16px;
    --padding-size-3: 24px;
    --padding-size-4: 32px;
    --padding-size-5: 40px;
    --padding-size-6: 48px;
    
    
    /* Fonts sizes */
    --main-title-size: 64pt;
    --second-main-title-size: 48pt;
    --third-main-title-size: 32pt;
    --fourth-main-title-size: 24pt;
    

    /* Font family */
    --main-title-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --second-main-title-family: Arial, Helvetica, sans-serif;
    --third-main-title-family: Arial, Helvetica, sans-serif;
    --text-body-family-s: serif;
    --text-body-family-ns: Arial, Helvetica, sans-serif; /* Body text family without serif */
    --text-code-family: Courier New, Courier, monospace;

}

.main-titles {
    font-size: var(--main-title-size);
    font-family: var(--main-title-family);
}


.amazon-sec {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 82px 0 48px 0;
    text-align: center;
    
}

.amazon-sec img {
    display: block;
    text-align: center;
    width:100%;
    margin: 0 auto;
}

.amazon-sec a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.amazon-sec a:hover {
    cursor: pointer;
    text-decoration: none;
    box-shadow: 1px 1px 18px #c8c8c8;
}

.amazon-sec section {
    display: block;
    width: 100%;
    padding: 8px 3px 4px 3px;
    margin: 0 auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 14pt;
    text-align: center;
    color: gray;
    box-shadow: 2px 2px 12px #c8c8c8;
}

.da-blog, .wsr-blog{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    padding: 82px 0 48px 0;
    
    
}

.da-blog-title, .wsr-blog-title {
    display: block;
    text-align: center;
    background-color: #0870d6;
    color: white;
    margin: 0 auto;
    padding: 8px;
    border-radius: 12px 12px 0px 0px;

}

.updates-blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*background-color: white;*/
    width: 90%;
    margin: 0 auto;
    padding: 22px 12px 28px 12px;
    border-top: 3px solid #0870d6;
    border-bottom: 3px solid #0870d6;
}

.cover-image {
    padding: 6px;
    margin: 0 auto;
}

.updates-blog-item {
    display: flex;
    flex-direction: column;
    /*background-color: white;*/
    padding: 22px;
    margin: 0 auto;
}

.updates-blog-item-1 {
    grid-row: 1 / span 2;
}

.updates-blog-item-title {
    display: block;
    text-align: left;
    border-left: 24px solid #0870d6;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 18pt;
    color: black;
    font-weight: bold;
    padding: 8px;
}

.updates-blog-item-body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    color: rgb(59, 59, 59);
    padding-top: 12px;
    text-align: justify;
}
