* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    background-color: black; color: white;
}

#da-show {
    width: 100%;
    max-height: 200px;
}

#nodes {
    width: 100%;
    height: 380px;
}

.da-container {
    
    position: absolute;
    top: 40%;
    vertical-align: middle;
    width: 100%; 
    /*height: 600px;*/
    display: flex; 
    flex-direction: column; 
    
    justify-content: center; 
    align-items: center;

    margin:  auto;
}

.links-menu {
    width:fit-content;
    font-size: 18px;;
    padding: 12px;
    text-align: center;
}

.links-menu > ul {
    text-decoration: none;
    list-style: none;
}

.da-container > .links-menu, ul, li, a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

ul > li {
    list-style: none;
    float: left;
}

ul >  li  > a {
    background-position: 200% 100%; 
    background-image: linear-gradient(#1f803f 0 0);
    padding: 10px;
    text-decoration: none;
    color: white;
    background-size: 200% .2em;
    background-repeat: no-repeat;
    transition: background-size .3s, background-position: .3s, background-color .3s;
}

ul > li > a:hover{
    background-position: 200% 100%;
    background-color: rgba(250, 234, 210, 0.822);
    color:rgb(13, 77, 29);
    background-size: 100% .2em;
    transition: background-size .3s .3s , background-position .3s, background-color .3s;
}
