<header>
    <div class="container">
        <h1><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
        <nav>
            <ul>
                <!-- O link para o blog agora aponta para a pasta correta -->
                <li><a href="{{ BLOG }}/">Blog</a></li>
                <!-- Itera sobre as páginas estáticas (Projetos, Biblioteca, etc.) -->
                {% for p in pages %}
                <li><a href="{{ BLOG }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                <li> <a href="{{ BLOG }}/archives.html">Arquivos</a></li>
                <li> <a href="{{ BLOG }}/authors.html">Autores</a></li>
                <li> <a href="{{ BLOG }}/categories.html">Categorias</a></li>
                <li> <a href="{{ BLOG }}/tags.html">Tags</a></li>
                <li><a href="{{ BLOG }}/posts/sobre-o-blog-dimensao-alfa.html">Sobre</a></li>
            </ul>
        </nav>
    </div>
</header>